<div  [formGroup]="mainSurveyForm">
    <div class="form-check form-check-inline" >
        <label for="pickRange" >
            <input class="form-check-input"  formControlName="pickRange" type="radio" value="1">1
        </label>
    </div>
    <div class="form-check form-check-inline" >
        <label for="pickRange" >
            <input class="form-check-input"  formControlName="pickRange" type="radio" value="2">2
        </label>
    </div>
    <div class="form-check form-check-inline" >
        <label for="pickRange" >
            <input class="form-check-input"  formControlName="pickRange" type="radio" value="3">3
        </label>
    </div>
    <div class="form-check form-check-inline" >
        <label for="pickRange">
            <input class="form-check-input"  formControlName="pickRange" type="radio" value="4">4
        </label>
    </div>
    <div class="form-check form-check-inline" >
        <label for="pickRange" >
            <input class="form-check-input"  formControlName="pickRange" type="radio" value="5">5
        </label>
    </div>
</div>