<div class="p-3 ">
    <h2 class="title ">{{'Revature Training Batches'| uppercase }}</h2><hr>
    <table class="table table-striped">
        <thead>
            <!-- <tr>
                <th scope="col">Batch Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Location</th>
                <th scope="col">Curriculum</th>
                <th scope="col">NO. Seats</th>
            </tr> -->
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Location</th>
                <th scope="col">Batch Name</th>
                <th scope="col">NO. Seats</th>
            </tr>
        </thead>

        <tbody>
            <!-- <tr>
                <td routerLink="/batches-details">CUNY04_JAVA</td>
                <td>May 4, 2020</td>
                <td>CUNY Queens, NY</td>
                <td>Spring MicroServices</td> 
                <td>9/20</td>               
            </tr>
            <tr>
                <td>CUNY14_SF</td>
                <td>July 14, 2020</td>
                <td>CUNY Queens, NY</td>
                <td>SalesForce</td>
            </tr>
            <tr>
                <td>CUNY17_JAVA</td>
                <td>October 17, 2020</td>
                <td>CUNY Queens, NY</td>
                <td>Spring MicroServices</td>
            </tr> -->
            <tr *ngFor="let batch of batchesList | async">
                <td>{{batch.id}}</td>
                <td>{{batch.location}}</td>
                <td>{{batch.name}}</td>
                <td>{{batch.totalStudents}}</td>              
            </tr>
        </tbody>
    </table>
    <p routerLink="/batches-details">batch details</p>
</div>

