.title {
    padding-left: 2rem;
    color: rgb(108, 108, 110);
    font-family: Arial, Helvetica, sans-serif;  
    font-stretch: wider ;
}



ul {
    margin: 0;
    padding-left: .5rem;
}


li {
    margin: .25rem 0 .25rem 0;
    padding: .5rem 0 .5rem 1rem;
    font-size: large;
    list-style-type: none;
    
}


.clickable:hover {
    color: rgb(27, 27, 27);
    text-decoration: underline;
    cursor: pointer;
}

mat-slide-toggle {
    margin: .5rem;
    color: grey;
}

.reports-chart {
    display: block;
    height: auto;
    max-width: 60vw;
    
    
    
}

