<header class="bg-light">
  <div class="d-flex">
    <div class="px-3 bg-light logo"><img src="../../../assets/logo.png" height="48" width=""></div> 
    <div class="flex-fill d-none d-md-flex nav">
      <li class="nav-item">
        <a class="nav-link p-3 active" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" routerLink="/batches">Batches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" href="#">Surveys</a>
      </li>
    </div>
    <div class="flex-fill d-block d-md-none"></div> 
    <div><button class="p-3 border-0 bg-light">Sign Out</button></div> 
  </div>
  <div class="d-flex d-md-none justify-content-center">
      <a class="nav-link p-3" href="#">Reports</a>
      <a class="nav-link p-3" href="#">Batches</a> 
      <a class="nav-link p-3" href="#">Surveys</a>
  </div>
  <div id="submenu">
    <ul class="nav nav-tabs d-flex justify-content-md-center flex-nowrap">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</header>
