<div class="bg-light d-flex align-content-between flex-wrap">
    <div class="d-flex">
        <div id="menu" class="flex-fill d-none d-md-flex nav">
                <p class="nav-link p-3" [routerLink]="['question']">
                    Add questions
                </p>
        </div>
        <div class="flex-fill d-block d-md-none"></div>
        <!-- <div><button class="p-3 border-0 bg-light">Sign Out</button></div>  -->
    </div>
    <div id="menu" class="d-flex d-md-none justify-content-center">
            <p class="nav-link p-3" [routerLink]="['survey']">
                View Surveys
            </p>
    </div>
</div>
<div class="bg-light d-flex align-content-between flex-wrap">
    <div class="d-flex">
        <div id="menu" class="flex-fill d-none d-md-flex nav">
                <p class="nav-link p-3" [routerLink]="['send']">
                    Send surveys
                </p>
        </div>
        <div class="flex-fill d-block d-md-none"></div>
        <!-- <div><button class="p-3 border-0 bg-light">Sign Out</button></div>  -->

        </div>
<router-outlet></router-outlet>

