<div class="p-3 ">
    <h2 class="title ">{{'name of batch'| uppercase }}</h2><hr>
    <table class="table table-striped">
        <thead>           
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">email</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>

        <tbody>         
            <tr *ngFor="let details of batchesDetails">
                <td>{{details.id}}</td>
                <td>{{details.firstName}}</td>
                <td>{{details.lastName}}</td>
                <td>{{details.email}}</td>  
                <td>{{details.grade}}</td>               
            </tr>
        </tbody>

    </table>
    <p routerLink="/batch-list">back to batch list</p>
</div>
<hr/>
<p>This is: {{batchId}}</p>
