<div class="p-3"> 
    <h2 class="title  ">{{' manage Surveys'| uppercase }}</h2><hr>
   
  
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Surveys</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Survey 1</option>
          <option value="2">Survey 2</option>
          <option value="3">Survey 3</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Batch</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">CUNY04-JAVA</option>
          <option value="2">CUNY14_MEAN</option>
          <option value="3">CUNY25_SF</option>
        </select>
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Week</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Week 1</option>
          <option value="2">Week 2</option>
          <option value="3">Week 3</option>
          <option value="4">Week 4</option>
          <option value="5">Week 5</option>          
        </select>
      </div>
    
     
    
    
   
</div>

