p {
  font-size: 1.25rem;
}

canvas {
  width: 900px !important;
  height: 360px !important;
}  

@media (min-width: 768px) {
    canvas {
      width: 80vw !important;
      height: 40vh !important;
    }  
  }
