<div class="p-3">
  <h2 class="title">{{ 'Edit Questions' | uppercase }}</h2><hr>
  <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Question Short Name</th>
                <th scope="col">Question Long Name</th>
                <th scope="col">Question Type</th>
                <th scope="col">Weeks Assigned</th>                
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Satisfaction Rating</td>
                <td>How satisfied were you with the Training?</td>
                <td>Rating (1-5)</td>
                <td>Week 1 - Week 7</td> 
            </tr>
            <tr>
                <td>Materials Helpful</td>
                <td>Materials and content provided were helpful.</td>
                <td>Rating (1-5)</td>
                <td>Week 1 - Week 7</td> 
            </tr>
        </tbody>
    </table> 
  </div>
</div>
