<div id="sidebar" class="bg-dark text-light" >
   <ul >

    <li class="list clickable" routerLink="/dashboard">Dashboard</li>
    <li class="list clickable" routerLink="/survey-home">Survey</li>
        <li routerLink="/survey-create" class="sublist clickable">   - Create New Survey</li>
        <li routerLink="/survey-manage" class="sublist clickable">   - Manage Survey</li>
        <li routerLink="/survey-schedule" class="sublist clickable">   - View Survey Schedules</li>
    <li class="list clickable" routerLink="/batches" >Batches</li>

    <li class="list clickable" routerLink="/reports">Reports</li>

    <!-- <li class="list">Curriculum</li> -->

   </ul>
   


</div>


