#sidebar {
    height: 100%;
    padding: .5rem;
}

ul {
    margin: 0;
    padding-left: .5rem;
}


.list {

    padding: .25rem 0 .25rem 0;
    font-size: large;
    list-style-type: none;
}


.sublist {

    color: rgb(201, 196, 194);
    padding: .25rem 0 .5rem .25rem;
    list-style-type: none;
}

.clickable:hover {
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
}