p {
    font-size: 1.25rem;
  }
  
  .title {
    text-align: center;
    color: rgb(108, 108, 110);
    font-family: Arial, Helvetica, sans-serif;  
    font-stretch: wider ;
}
  canvas {    
    width: 40vw !important;  
  }
  