<div class="p-3"> 
    <h2 class="title">{{'Survey Schedules'| uppercase }}</h2><hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Assigned Batch</th>
                <th scope="col">Survey Name</th>
                <th scope="col">Assigned Date/Time</th>                
                <th scope="col">Week No.</th>
                <th scope="col">Completed</th>
                <th scope="col">Approval Rating</th>               
                
            </tr>
        </thead>

        <tbody>
            <tr>
                <td routerLink="/batches-details">CUNY04_JAVA</td>
                <td>Final</td>
                <td>06/30/2020 12pm</td>
                <td>09</td> 
                <td>9/20</td> 
                <td>45/50</td>              
            </tr>
            <tr>
                <td routerLink="/batches-details">CUNY04_JAVA</td>
                <td>Final</td>
                <td>06/30/2020 12pm</td>
                <td>09</td> 
                <td>9/20</td> 
                <td>45/50</td>              
            </tr>
            <tr>
                <td routerLink="/batches-details">CUNY04_JAVA</td>
                <td>Final</td>
                <td>06/30/2020 12pm</td>
                <td>09</td> 
                <td>9/20</td> 
                <td>45/50</td>              
            </tr>
           
        </tbody>

    </table>
</div>
<hr/>
<!-- added as practice delete after-->
