<div class="p-3"> 
    <h2 class="title  ">{{'Surveys'| uppercase }}</h2><hr>
    <div class="d-flex justify-content-center">
        <button class="btn btn-light" routerLink="/survey-create">Create New Survey</button>
    </div>
    
    <ul>
        <li class="border d-flex">
            <div class="flex-fill">Week 1 Java</div>
            <div>
                <button class="btn btn-light m-1">Edit</button>
                <button class="btn btn-light m-1">Delete</button>
            </div>           
        </li>
        <li class="border d-flex">
            <div class="flex-fill">Week 2 SQL</div>
            <div>
                <button class="btn btn-light m-1">Edit</button>
                <button class="btn btn-light m-1">Delete</button>
            </div>           
        </li>
        <li class="border d-flex">
            <div class="flex-fill">Week 3 JavaScript</div>
            <div>
                <button class="btn btn-light m-1">Edit</button>
                <button class="btn btn-light m-1">Delete</button>
            </div>           
        </li>
      
    </ul>
</div>

